@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  background-color: rgb(30, 75, 146);
}

#sankeyContainer {
  margin-top: 80px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.stemText {
  fill: rgb(30, 75, 146);
  font-size: 48px;
}

.branchText {
  fill: rgb(30, 75, 146);
  font-size: 28px;
}

.legendText {
  fill: white;
  font-size: 20px;
}

.decadeText {
  fill: white;
  font-size: 18px;
  transform-origin: center center;
  transform: rotate(270deg);
}